services:
  mysql:
    image: mysql:8.4
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db_golang
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306" #host:container 3307 and host 3306 is used by local mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 10

  backend:
    build: ./backend
    container_name: backend
    env_file:
      - backend/.env.docker
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    build: ./frontend-react-ts
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mysql_data:
